html, body{

    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);

}

*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: Bethany;
    src: url(./Fonts/Bethany\ Elingston.otf);
}

#main{

    display: flex;
    height: 100%;
    width: 100%;
}

#leftdiv{


    height: 100%;
    width: 50%;
    
}

#leftdiv #topdiv{

    position: relative;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    padding-left: 120px;
    padding-right: 230px;
    padding-top: 100px;
    justify-content: center;
    transform: translate(50,50);
}

#leftdiv #topdiv h1{

    font-family: Bethany;
    font-size: 68px;
}

#leftdiv #topdiv h3{

    line-height: 35px;
    color: rgb(128, 128, 128);
    font-weight: lighter;
    margin-top: -10px;
    padding-bottom: 10px;
}

#leftdiv #topdiv img{

    position: absolute;
    height: 50px;
    width: 50px;
    top: 60px;
    
}

/* #leftdiv #topdiv #ldb{


    position: absolute;
    height: 50px;
    width: 120px;
    bottom: 35px;
    left: 129px;
    border-radius: 1px;
    background-color: transparent;
    border-bottom: solid black;
    border-right: solid black;
} */



a{

    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 200;
    text-decoration: none;
    color: white;
    background-color: black;
    height: 45px;
    width: 120px;
    align-content: center;
    justify-content: center;
    /* padding-inline-start: 27px; */
}


#leftdiv #bottomdiv{

    position: relative;
    height: 40%;
    width: 100%;
    display: flex;
    padding-top: 28px;
    /* background-color: rgb(0, 162, 255); */
}

#images #leftimg{

    height: 90%;
    width: 50%;
    align-content: center;
    transform: translate(50, 50);
    background-image: url(https://images.unsplash.com/photo-1665138326369-5938923efcb6?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}



#rightdiv{
    
    position: relative;
    height: 100%;
    width: 50%;
     
}

#images{

    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 80px;

}

#images #rightimg{

    height: 90%;
    width: 50%;
    align-content: center;
    transform: translate(50, 50);
    background-image: url(https://images.unsplash.com/photo-1600298881974-6be191ceeda1?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;

}


#bottomdivtext{

    position: relative;
    padding-left: 120px;
    padding-top: 0px;
    width: 100%;
    /* display: flex; */

}

#content{

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

#content #element1{

    display: flex;
    padding-top: 20px;
}

#textcontent{

    margin-left: 75px;
    margin-top: -70px;    

}

#textcontent p{

    color: darkgrey;
    margin-top: -10px;
}

.ri-wifi-off-line{

    position: relative;
    font-size: 25px;
    left: 15px;
}

.ri-flashlight-line{

    position: relative;
    font-size: 25px;
    left: 15px;
}

.ri-tree-line{

    position: relative;
    font-size: 25px;
    left: 15px;
}

#iconandbackground{


    height: 60px;
    width: 60px;
    border-radius: 1000px;
    border:  solid rgb(165, 165, 165) 1px;
    background-color: rgb(255, 255, 255);
    align-content: center;
}